PATH=/root/.nvm/versions/node/v22.14.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
WO_MONITOR_ENV_FILE=/opt/wo/.env
WO_MONITOR_MAIL_ENV_FILE=/etc/wo-monitor/mail.env
WO_MONITOR_POSTGRES_CONTAINER_ID=<complete-64-character-container-id>
WO_MONITOR_INGRESS_CONTAINER_ID=<complete-64-character-container-id>
